.map
  height 100vh
  background-color $darkGrey
  color $white

.infos
  width 480px
  height 100vh
  padding 10vh 50px
  background-color $black
  position fixed
  top 0
  right 0
  transform translateX(100%)

  &__title
    font-family 'DIN'
    font-size 5em
    text-transform uppercase

  &__themes
    margin-top 50px

  &__theme
    margin-top 1em
    padding 22px 0 18px 0
    border solid 1px $white
    font-family 'Averta'
    font-weight bold
    font-size 2.7em
    text-align center
    text-transform uppercase

    &.selected
      color $black
      background-color $white

  &__text
    margin-top 3em
    font-family 'Averta'
    font-size 2.5em
    line-height 1.6em

  &__button
    margin-top 2em

svg 
  width 100vw
  height 100vh
  transform-origin top left
  transform scale(1.5) translateY(-15vh)

  .land
    fill $lightGrey
    fill-opacity 1
    stroke $darkGrey
    stroke-opacity 1
    stroke-width 0.1

  #US
    transition: fill .1s ease-out
    cursor pointer

    &:hover
      fill $blue