.story

  &__doc-title
    padding 60px
    font-family 'Averta'
    font-size 3em
    text-align right
    text-transform lowercase 

  &__thumbnail
    width 90vw
    height calc(100vh - 160px)
    position fixed
    bottom 0
    right 0
    background grey