<div class="cover">
  <div class="cover__intro window">
    <h1 class="cover__title">
      <div class="o-h"><div class="text">Street</div></div>
      <div class="o-h"><div class="text">Connection</div></div>
    </h1>
    <p class="cover__text">All over the world, we are witnessing the development of « street culture ».
      Strongly influenced by urbanism, the development of this parallel culture, usually misunderstood, is unique to each country but stems from common bases.
    </p>
    <div class="cover__button blue-button big">Discover</div>
    <div class="cover__image"><img src="./assets/images/cover.jpg" alt="Suburb"></div>
  </div>
  <div class="cover__video window">
    <video src="./assets/medias/intro.mp4"></video>
    <div class="cover__video--skip">Skip intro</div>
  </div>
  <div class="cover__hidder"></div>
</div>