<div class="cover">
  <div class="cover__intro window">
    <h1 class="cover__title">
      <div class="o-h"><div class="text">Street</div></div>
      <div class="o-h"><div class="text">Connection</div></div>
    </h1>
    <div class="cover__button blue-button">Discover</div>
    <div class="cover__image"><img src="./assets/images/cover.jpg" alt="Suburb"></div>
  </div>
  <div class="cover__video window">
    <video src="./assets/medias/intro.mp4"></video>
  </div>
  <div class="cover__hidder"></div>
</div>