body
  width 100vw
  height 100vh
  font-size 62.5%

.app
  position fixed
  width 100vw

.blue-button
  margin-left 50%
  transform translateX(-50%)
  padding 11px 40px 9px 40px
  font-family 'Averta'
  font-weight bold
  font-size 1.6em
  color $white
  display flex
  background-color $blue
  justify-content center 
  align-items center
  text-transform uppercase
  display inline-block
  cursor pointer

  &.left
    margin-top 5em
    margin-left 0
    transform none

  &.big
    font-size 2em
    padding 22px 40px 18px 40px

  &:hover
    transform translateX(-50%) scale(1.02)

.o-h
  overflow hidden

.window
  height 100vh
  position relative

.cta
  width 60px
  height 60px

  border-radius 100%
  border 1px solid $blue
  display flex
  justify-content center
  align-items center
  animation cta 1s ease-in infinite

.cta__ring
  width 40px
  height 40px

  border-radius 100%
  background-color $blue

.parallax--item
  position absolute

@keyframes cta {
  from 
  {
    transform scale(1)
  }
  to
  {
    transform scale(0.9)
  }
}