body
  width 100vw
  height 100vh
  font-size 62.5%

.app
  position fixed
  width 100vw

.blue-button
  margin-left 50%
  transform translateX(-50%)
  padding 11px 40px 9px 40px
  font-family 'Averta'
  font-weight bold
  font-size 1.6em
  color $white
  display flex
  background-color $blue
  justify-content center 
  align-items center
  text-transform uppercase
  display inline-block
  cursor pointer

  &.left
    margin-top 5em
    margin-left 0
    transform none

  &.big
    font-size 2em
    padding 22px 40px 18px 40px

  &:hover
    transform translateX(-50%) scale(1.02)

.o-h
  overflow hidden

.window
  height 100vh
  position relative
