<div class="compton story music">
  <div class="story__land window">
    <div class="story__doc-title">Street Connection</div>
    <div class="story__thumbnail">
      <img src="./assets/images/compton_top.jpg" alt="compton">
      <div class="hidder"></div>
    </div>
  </div>
  <div class="story__intro window">
    <h1 class="story__home-title">
      <div class="o-h"><div class="text">Com</div></div>
      <div class="o-h"><div class="text">pton</div></div>
    </h1>
    <div class="o-h">
      <p class="story__home-desc">Compton is a city in southern Los Angeles County, California, United States. It’s one of the oldest cities in the county of LA. Its population is currently  in majority composed of afro-american young people (and since ‘50 declaration prohibiting racial exclusion), people decided to take their chance in middle-class suburbs to improve their way of life.</p>
    </div>
  </div>
  <div class="story__media-image window">
    <div class="story__desc">
      <div class="story__date tm-inline">
        <div class="o-h">1959</div>
      </div>
      <div class="story__text grey">From 1959 and the first black mayor in Compton (predominantly inhabited by white families from middle class before) and until then, Compton became a truly black culture’ nevralgic point for the West Coast of the U.S. Leading to the development of rap music and hip-hop culture.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/c1959.jpg" alt="Stadium">
    </div>
  </div>
  <div class="story__media-video window o-h vp-comptonwitness"></div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <div class="story__title tm-inline">
        <div class="o-h">Architectural</div>
        <div class="o-h">transformation</div>
      </div>
      <div class="story__text">Historically, Compton gathers spanish inspired infrastructures due to its origins, but now, the architecture in Compton is widely represented by monuments designed by afro-americans architects. Its signs a turnover of the promising youth that grew up in the ‘80s and ‘90s in thoses suburbs. Compton is squared by four freeways and crossed by numerous lines of subway, making it easy to stride along.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/architectural.png" alt="Architectural">
    </div>
  </div>
  <div class="story__media--full-image window">
    <img src="./assets/images/compton.jpeg" alt="Compton">
  </div>
  <div class="compton__voice window o-h">
    <div class="compton__voice--text">
      <span class="text-part">If I was you</span>
      <span class="text-part">and I had a camera right now,</span>
      <span class="text-part">where I would go, </span>
      <span class="text-part">is a little city called « Bompton ».</span>
      <span class="text-part">It’s Compton, but </span>
      <span class="text-part">it’s where the Bloods is at.</span>
    </div>
  </div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <div class="story__title tm-inline">
        <div class="o-h">Street</div>
        <div class="o-h">poetry</div>
      </div>
      <div class="story__text">Compton is the cradle of Gangsta Rap and G-funk, characterized by texts about violence talking about gangs’ war. Many rap artists' careers started in Compton, including N.W.A (Eazy-E, MC Ren, Dr. Dre, Ice Cube, DJ Yella), Coolio, DJ Quik, Nishant, Jeeves, The Game, Kendrick Lamar, YG, and Compton's Most Wanted. It’s a crucial point in the history of the West Coast Legacy.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/street_poetry.jpg" alt="Architectural">
    </div>
  </div>
  <div class="story__media-video window o-h vp-noisey"></div>
  <div class="story__media-image window black">
    <div class="story__aside-image tm-aside-image">
      <img src="./assets/images/kendrick.jpg" alt="Kendrick Lamar">
    </div>
    <div class="story__desc">
      <h2 class="story__title tm-inline">
        <div class="o-h"><div class="text">Kendrick</div></div>
        <div class="o-h"><div class="text">Lamar</div></div>
      </h2>
      <div class="story__text">Kendrick Lamar is one of the major hope of Bompton, it’s Compton but, it’s where the Bloods’ at. As an original member of N.W.A., he took a predominant place in the influence of the neighborhood. Lamar is a poetry lover since grade school and started to rap after he discovered the teachings of Martin Luther King and Malcolm X. His success incites people to stay in school and do their best.</div>
    </div>
  </div>
  <div class="story__outro window black">
    <div>
      <div class="story__outro--title">Culture in others suburbs</div>
      <div class="story__outro--themes">
        <div>
          <a href="/paris-seine" data-url="paris-seine" class="story__outro--theme route-link">Rap music in Paris</a>
        </div>
        <div>
          <a href="/berlin" data-url="berlin" class="story__outro--theme route-link">Street art in Berlin</a>
          </div>
      </div>
    </div>
  </div>
</div>