<div class="de-rocinha story">
    <div class="story__land window">
      <div class="story__doc-title">Street Connection</div>
      <div class="story__thumbnail">
        <img src="./assets/images/top_rio.jpg" alt="de-rocinha">
        <div class="hidder"></div>
      </div>
    </div>
    <div class="story__intro window">
      <h1 class="story__home-title">
        <div class="o-h"><div class="text">De Ro</div></div>
        <div class="o-h"><div class="text">cinha</div></div>
      </h1>
      <div class="o-h">
        <p class="story__home-desc">Rocinha (means little farm) is the largest favela in Brazil, and is located in Rio de Janeiro’s south zone. Rocinha is built on a steep hillside overlooking Rio de Janeiro. Most of the favela is on a very steep hill. Almost 70,000 (census 2010)[2] people live in Rocinha, making it the most populous favela in Brazil.</p>
      </div>
    </div>
    <div class="story__media-image window">
      <div class="story__desc">
        <div class="story__date tm-inline">
          <div class="o-h">1800's</div>
        </div>
        <div class="story__text grey">After the Canudos War in Bahia, Brazilian soldiers marched to Rio de Janeiro to receive their deserved payment. They waited in the hillsides for the government to hand over the money. Yet they never got paid, and so they never left… Favelas and their urban environment became dense and narrow. These characteristics and poverty led to a very specific way of life for inhabitant. Especially young people developed different attitudes in front of this weird place were they grew up.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/dr1800.jpg" alt="Stadium">
      </div>
    </div>
    <div class="story__media-video window o-h vp-drdrugs"></div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Carioca</div></div>
          <div class="o-h"><div class="text">funk</div></div>
        </h2>
        <div class="story__text">Carioca funk, is a music genre from Rio de Janeiro, born from Miami bass and gangsta rap music. The main topics discussed in the funk carioca range from poverty, human dignity, racial pride of black people, sex, violence, to social injustice. People meet at the bottom of the favelas, in hangar to party all night, this kind of party is called the baile funk which is not authorized everywhere.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/carioca.jpg" alt="Carioca">
      </div>
    </div>
    <div class="story__media--full-image window">
      <img src="./assets/images/rio_music.jpg" alt="Rio Music">
    </div>
    <div class="story__media-image window black">
      <div class="story__aside-image tm-aside-image">
        <img src="./assets/images/funk_proibidao.jpg" alt="Funk Proibidao">
      </div>
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">Funk</div>
          <div class="o-h">Proibidao</div>
        </div>
        <div class="story__text">Proibidão, which literally translates to "strongly prohibited", is a subgenre of funk carioca. Proibidão praising crime - especially drug trafficking - and the life associated with it, is prohibited by law. It is only possible to hear this type of funk songs in the non-law areas, no formal music industry is allowed to produce and broadcast this kind of music. Proibidão doesn’t talk only about drug lords. It also addresses issues of corruption, the dissatisfaction of poor people – it’s about reality.</div>
      </div>
    </div>
    <div class="story__media-video window o-h vp-drfunk"></div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Rap das</div></div>
          <div class="o-h"><div class="text">armas</div></div>
        </h2>
        <div class="story__text">“Rap das Armas” is the perfect example of proibidao funk. The song describe the intervention of the elite police invading the favelas fighting against the drug dealers. The song enumerate differents types of fireweapons and illustrate the life in the favelas such as drug traffic and violence, being the main reason of its censorship.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/gun.png" alt="Gun">
      </div>
    </div>
  </div>