<div class="de-rocinha-street-art story">
  <div class="story__land window">
    <div class="story__doc-title">Street Connection</div>
    <div class="story__thumbnail">
      <img src="./assets/images/top_rio.jpg" alt="de-rocinha">
      <div class="hidder"></div>
    </div>
  </div>
  <div class="story__intro window">
    <h1 class="story__home-title">
      <div class="o-h"><div class="text">De Ro</div></div>
      <div class="o-h"><div class="text">cinha</div></div>
    </h1>
    <div class="o-h">
      <p class="story__home-desc">Rocinha (means little farm) is the largest favela in Brazil, and is located in Rio de Janeiro’s south zone. Rocinha is built on a steep hillside overlooking Rio de Janeiro. Most of the favela is on a very steep hill. Almost 70,000 (census 2010)[2] people live in Rocinha, making it the most populous favela in Brazil.</p>
    </div>
  </div>
  <div class="story__media-image window">
    <div class="story__desc">
      <div class="story__date tm-inline">
        <div class="o-h">1800's</div>
      </div>
      <div class="story__text grey">After the Canudos War in Bahia, Brazilian soldiers marched to Rio de Janeiro to receive their deserved payment. They waited in the hillsides for the government to hand over the money. Yet they never got paid, and so they never left… Favelas and their urban environment became dense and narrow. These characteristics and poverty led to a very specific way of life for inhabitant. Especially young people developed different attitudes in front of this weird place were they grew up.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/dr1800.jpg" alt="Stadium">
    </div>
  </div>
  <div class="story__media-video window o-h vp-drdrugs"></div>
    <div class="story-rio-streetart">
      <div class="story__media-image window black">
        <div class="story__desc">
          <h2 class="story__title tm-inline">
            <div class="o-h"><div class="text">Culture of</div></div>
            <div class="o-h"><div class="text">grafitis</div></div>
          </h2>
          <div class="story__text">The Environment is narrow and really condensed. People were poor and their life was stark. Bad things were born, but it also created a desire to turn this environment into a colored, dynamic and artistic area. There are two kinds of graffitis , taggers and street art.</div>
        </div>
        <div class="story__aside-image tm-aside-image right">
          <img src="./assets/images/nao_pixe.jpg" alt="Nao Pixe">
        </div>
      </div>
      <div class="story__media--full-image window">
        <img src="./assets/images/illegal_side.jpeg" alt="Illegal Side">
      </div>
      <div class="story__media-image window black">
        <div class="story__desc">
          <div class="story__title tm-inline">
            <div class="o-h">Não pixe,</div>
            <div class="o-h">grafite</div>
          </div>
          <div class="story__text">It was the name of a campaign that supported street art and discouraged taggers.  This campaign was launched in 1999 by the city’s council. Ten years on, the distinction between taggers and street art.</div>
          <div class="story__button blue-button left">See more</div>
        </div>
        <div class="story__aside-image tm-aside-image right">
          <img src="./assets/images/funk_proibidao.jpg" alt="Funk Proibidao">
        </div>
      </div>
      <div class="story__media-image window black">
        <div class="story__aside-image tm-aside-image">
          <img src="./assets/images/illegal_side.jpeg" alt="Funk Proibidao">
        </div>
        <div class="story__desc">
          <div class="story__title tm-inline">
            <div class="o-h">Illegal side</div>
            <div class="o-h">and art side</div>
          </div>
          <div class="story__text">Taggers are the squiggles or that represent the names of gangs or of people who are often considered vandals. These are ways of putting names out in public to get exposure or fame.</div>
        </div>
      </div>
    </div>
    <div class="de-rocinha__painting window"></div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">Wark</div>
        </div>
        <div class="story__text">Taggers are the squiggles or that represent the names of gangs or of people who are often considered vandals. These are ways of putting names out in public to get exposure or fame.</div>
        <div class="story__text">Street art was legally accepted, it is now considered as outdoor art in its own right, with some artists receiving international recognition and exhibitions in well-known galleries.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/wark.jpeg" alt="Funk Proibidao">
      </div>
    </div>
    <div class="story__media-video window o-h vp-grafiti"></div>
  </div>
  <div class="story__outro window black">
    <div>
      <div class="story__outro--title">Culture in others suburbs</div>
      <div class="story__outro--themes">
        <div>
          <a href="/compton" data-url="compton" class="story__outro--theme route-link">Rap music in USA</a>
        </div>
        <div>
          <a href="/berlin" data-url="compton" class="story__outro--theme route-link">Street art in Berlin</a>
          </div>
      </div>
    </div>
  </div>
</div>