<div class="kouptchino story music">
    <div class="story__land window">
      <div class="story__doc-title">Street Connection</div>
      <div class="story__thumbnail">
        <img src="./assets/images/russia_top.jpeg" alt="Miami">
        <div class="hidder"></div>
      </div>
    </div>
    <div class="story__intro window">
      <h1 class="story__home-title">
        <div class="o-h"><div class="text">Koupt</div></div>
        <div class="o-h"><div class="text">chino</div></div>
      </h1>
      <div class="o-h">
        <p class="story__home-desc">Kouptchino is the main suburb of St Petersburg. This suburb is not comparable to the others suburbs in USA or Europe because it is inspired by Europe and Asia. This ambivalency gives Russia its heterogeneous construction. Rap music in Russia, even if it draws its origins from the american rap, do not look like any others countries rap music.</p>
      </div>
    </div>
    <div class="story__media-image window">
      <div class="story__desc">
        <div class="story__date tm-inline">
          <div class="o-h">1984</div>
        </div>
        <div class="story__text grey">In its early days in the 1990s, (1984 is the first russian rap music ever — called “rap”), Russian hip-hop manifested the country’s emerging connection with Western culture. Nowadays, Russia is slowly healing from its passed wounds and the only scars left are those grey and massive buildings in the horizon, right by luxurious constructions. The russian rap pioneers used to pictures in theses places scenes from day-to-day Russian life, both mundane and terrifying to a point of existential horror. Maybe the last outpost of russian classical litterature.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/1984.jpg" alt="1984">
      </div>
    </div>
    <div class="story__media-video window o-h vp-kouptchino1"></div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">Rebirth of</div>
          <div class="o-h">russian rap</div>
        </div>
        <div class="story__text">While some artists will defend the roots of Russia through their sounds, some others will appropriate the codes of Western rap references and reinject them in the music. In both situations, it is what makes russians rapper, molded by the history of their cities, creators. Not only they seize the influences of western rap but even more, they created their own genre of rap, with the history of the country and cities, the environment they were given and the chances they had.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/rebirth_rap.jpeg" alt="Rap rebirth">
      </div>
    </div>
    <div class="story__media--full-image window">
      <img src="./assets/images/russia_middle.jpeg" alt="Train">
    </div>
    <div class="story__media-image window black">
      <div class="story__aside-image tm-aside-image">
        <img src="./assets/images/land_of_rap.jpg" alt="Rap battle">
      </div>
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Land of</div></div>
          <div class="o-h"><div class="text">rap battle</div></div>
        </h2>
        <div class="story__text">Far from the magnificence of the center of St. Petersburg, if you enter one of the courtyards of Ligovsky Avenue, you are in Russian favelas. There are local battles looking like real shows or theatrical performances. For example, participants often bring accessories, and Oxxxymiron was tattooed, especially for his fight against Johnyboy, the date 1703 on the neck and the key replicas of Oxxxymiron were dedicated to this tattoo. In the United States, we do not perform like that, there we just rap.</div>
      </div>
    </div>
    <div class="story__media-video window o-h vp-kouptchino2"></div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">Oxxxymiron</div>
        </div>
        <div class="story__text">Oxxxymiron proves that it’s still possible for creativity to blossom even with mainstream success. The rapper is from St. Petersburg, where “Versus”—the country’s largest rap battle event—takes place. Oxxxymiron has established himself as Russia’s best battle rapper. Millions of people regularly tune in to Oxxxymiron’s YouTube channel to watch him verbally annihilate his opponents, both in Russian and in English.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/oxxxymiron.jpg" alt="Oxxxymiron">
      </div>
    </div>
    <div class="story__outro window black">
      <div>
        <div class="story__outro--title">Rap music in others suburbs</div>
        <div class="story__outro--themes">
          <div>
            <a href="/paris-seine" data-url="paris-seine" class="story__outro--theme route-link">Rap music in Paris</a>
          </div>
          <div>
            <a href="/compton" data-url="compton" class="story__outro--theme route-link">Rap music in LA</a>
            </div>
        </div>
      </div>
    </div>
  </div>