<div class="miami story art">
    <div class="story__land window">
      <div class="story__doc-title">Street Connection</div>
      <div class="story__thumbnail">
        <img src="./assets/images/miami_top.jpeg" alt="Miami">
        <div class="hidder"></div>
      </div>
    </div>
    <div class="story__intro window">
      <h1 class="story__home-title">
        <div class="o-h"><div class="text">Wyn</div></div>
        <div class="o-h"><div class="text">wood</div></div>
      </h1>
      <div class="o-h">
        <p class="story__home-desc">Wynwood is a neighborhood in Miami known internationally to house some of the world's finest urban artwork. It became the artistic center of south Florida by having more than 70 galleries and museums in addition to the impressive outdoor works of art. But 50 years ago, Wynwood wasn’t what we know nowadays.</p>
      </div>
    </div>
    <div class="story__media-image window">
      <div class="story__desc">
        <div class="story__date tm-inline">
          <div class="o-h">1950's</div>
        </div>
        <div class="story__text grey">The now famous district of Wynwood is not what it used to be. Once called Little San Juan after being Miami’s culture center for Puerto Ricans that arrived during the 1950s. Roward the 1980s, Wynwood became one of Miami’s poorest neighborhoods and became one of the most dangerous area,  you could not find any tourist in the street. The change took place when artists settled in the neighborhood, creating gallery in old warehouse in order to bring life to this gloomy district.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/1950.jpg" alt="Stadium">
      </div>
    </div>
    <div class="story__media--full-image window">
      <!-- <img class="parallaxBackground parallax--item" src="./assets/images/miami/miami_middle.png" alt="Miami">
      <img class="paralaxCar parallax--item" src="./assets/images/miami/car.png" alt="Miami"> -->
      <img src="./assets/images/miami_middle.jpeg" alt="">
    </div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">From&nbsp;ghetto</div>
          <div class="o-h">to&nbsp;gallery</div>
        </div>
        <div class="story__text">Wynwood went from a dangerous ghetto to a popular tourist attraction. The renewal of Wynwood is due to the artist who settled there but specially to Tony Goldman, a real estate developer who invested in the neighborhood and asked to some artists to express themselves on the walls of his buildings. The famous Wynwood walls are created in 2009, walls that became quickly a huge white canvas for every artist and become the most instagrammed place of Miami.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/from_ghetto.jpeg" alt="Architectural">
      </div>
    </div>
    <div class="story__media--full-image window">
      <img src="./assets/images/miami_middle2.jpg" alt="Miami">
    </div>
    <div class="story__media-video window o-h vp-miami1"></div>
    <div class="story__media--full-image window">
      <img src="./assets/images/wall_street.jpg" alt="wall street">
    </div>
    <div class="story__media-image window black">
      <div class="story__aside-image tm-aside-image">
        <img src="./assets/images/wynwood_after.jpg" alt="Wynwood After">
      </div>
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Wynwood</div></div>
          <div class="o-h"><div class="text">after</div></div>
        </h2>
        <div class="story__text">You can call Wynwood a « underground » neighborhood but will it stay that way? Who says growth, tourism and mass of new places says rising prices and a super important gentrification. The result of the raising price might be that only major brands will be able to pay the rent in Wynwood. With that being said, for some people, Wynwood might lose its soul.</div>
      </div>
    </div>
    <div class="story__outro window black">
      <div>
        <div class="story__outro--title">Culture in others suburbs</div>
        <div class="story__outro--themes">
          <div>
            <a href="/paris-seine" data-url="paris-seine" class="story__outro--theme route-link">Rap music in Paris</a>
          </div>
          <div>
            <a href="/de-rocinha-street-art" data-url="de-rocinha-street-art" class="story__outro--theme route-link">Street art in Rio</a>
            </div>
        </div>
      </div>
    </div>
  </div>