<div class="paris-seine story">
  <div class="story__land window">
    <div class="story__doc-title">Street Connection</div>
    <div class="story__thumbnail">
      <img src="./assets/images/corbeil_essonnes.jpg" alt="Paris">
      <div class="hidder"></div>
    </div>
  </div>
  <div class="story__intro window">
    <h1 class="story__home-title">
      <div class="o-h"><div class="text">Paris</div></div>
      <div class="o-h"><div class="text">Seine</div></div>
    </h1>
    <div class="o-h">
      <p class="story__home-desc">France is the only Western capitalist country to have massively chosen bars and towers to solve the housing crisis. These large complexes in France, have allowed a wide access to modern comfort (hot and cold running water, central heating, sanitary equipment, elevator, etc.) for workers in the working-class suburbs.</p>
    </div>
  </div>
  <div class="story__media-image window">
    <div class="story__desc">
      <div class="o-h">
          <div class="story__date tm-inline">1962</div>
      </div>
      <div class="story__text grey">Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it was my cheerful duty to attend upon him while taking that hard-scrabble scramble upon the dead whale's back. You have seen Italian organ-boys holding a dancing-.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/history_corbeil.jpg" alt="Algerian war">
    </div>
  </div>
  <div class="story__media-video window o-h vp-courneuve64"></div>
  <div class="story__media-image window black">
    <div class="story__aside-image tm-aside-image">
      <img src="./assets/images/mute_suburbs.jpg" alt="Suburbs war">
    </div>
    <div class="story__desc">
      <h2 class="story__title tm-inline">
        <div class="o-h"><div class="text">Mute</div></div>
        <div class="o-h"><div class="text">Suburbs</div></div>
      </h2>
      <div class="story__text">In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much.</div>
    </div>
  </div>
  <div class="story__media-video window o-h vp-courneuve83"></div>
  <div class="paris-seine__interractive-youths window">
    <img class="youth-hilight" src="./assets/images/youths-hilight.jpg" alt="Youths bored">
    <img class="youth-lolight" src="./assets/images/youths-lolight.jpg" alt="Youths bored">
  </div>
  <div class="story__media-video window o-h vp-ntm"></div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <div class="o-h">
        <div class="story__title tm-inline">2000</div>
      </div>
      <div class="story__text">Music is one of these things that allow to express oneself. It inspired a lot of artists in suburbs. Last years, Rap became the first listened music style in France, making suburbs heard. PNL, coming from Corbeil-Essonnes in the parisian suburb is an example of a success.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/pnl.jpg" alt="Algerian war">
    </div>
  </div>
  <div class="story__media-video window o-h vp-pnl"></div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <h2 class="story__title tm-inline">
        <div class="o-h"><div class="text">In a few</div></div>
        <div class="o-h"><div class="text">numbers</div></div>
      </h2>
      <div class="story__text">In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much.</div>
    </div>
    <div class="paris-seine__graph">
      <div class="paris-seine__graph-container lemondechico">
        <div class="paris-seine__graph-bar">
          <div class="filled">
            <div class="value">200000</div>
          </div>
        </div>
        <div class="paris-seine__graph-year">2015</div>
        <div class="paris-seine__graph-title">Le Monde Chico</div>
      </div>
      <div class="paris-seine__graph-container danslalegende">
        <div class="paris-seine__graph-bar">
          <div class="filled">
            <div class="value">900000</div>
          </div>
        </div>
        <div class="paris-seine__graph-year">2016</div>
        <div class="paris-seine__graph-title">Dans la légende</div>
      </div>
    </div>
  </div>
  <div class="story__outro window black">
    <div>
      <div class="story__outro--title">Culture in others suburbs</div>
      <div class="story__outro--themes">
        <div>
          <a href="/compton" data-url="compton" class="story__outro--theme route-link">Rap music in USA</a>
        </div>
        <div>
          <a href="/berlin" data-url="compton" class="story__outro--theme route-link">Street art in Berlin</a>
          </div>
      </div>
    </div>
  </div>
</div>