<div class="sao-paulo story">
  <div class="story__land window">
    <div class="story__doc-title">Street Connection</div>
    <div class="story__thumbnail">
      <img src="./assets/images/top_saopaulo.jpg" alt="Sao-Paulo">
      <div class="hidder"></div>
    </div>
  </div>
  <div class="story__intro window">
    <h1 class="story__home-title">
      <div class="o-h"><div class="text">Sao</div></div>
      <div class="o-h"><div class="text">Paulo</div></div>
    </h1>
    <div class="o-h">
      <p class="story__home-desc">The conception of the favelas impacts directly the way of life of the locals. Narrow and tangled streets, lots of steps, and not much space is the what characterizes the favelas. Taking the most popular sport in the favelas, the football with 3,000 local amateur clubs in Sao Paulo, it’s not difficult to spot the link between architecture and culture.
        </p>
    </div>
  </div>
  <div class="story__media-image window">
    <div class="story__desc">
      <div class="story__date tm-inline">
        <div class="o-h">No stadium</div>
      </div>
      <div class="story__text grey">The small amount of money available in the favelas and put in the infrastructure forces people to play where they can and even if the soccer fields are smaller, the children have adapted by taking advantage of whatever available spaces that they can and develop new rules and different skills.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/infrastructures.jpg" alt="Stadium">
    </div>
  </div>
  <div class="story__media-video window o-h vp-saopaulofootball"></div>
</div>