<div class="sao-paulo story sport">
  <div class="story__land window">
    <div class="story__doc-title">Street Connection</div>
    <div class="story__thumbnail">
      <img src="./assets/images/top_saopaulo.jpg" alt="Sao-Paulo">
      <div class="hidder"></div>
    </div>
  </div>
  <div class="story__intro window">
    <h1 class="story__home-title">
      <div class="o-h"><div class="text">Sao</div></div>
      <div class="o-h"><div class="text">Paulo</div></div>
    </h1>
    <div class="o-h">
      <p class="story__home-desc">The conception of the favelas impacts directly the way of life of the locals. Narrow and tangled streets, lots of steps, and not much space is the what characterizes the favelas. Taking the most popular sport in the favelas, the football with 3,000 local amateur clubs in Sao Paulo, it’s not difficult to spot the link between architecture and culture.
        </p>
    </div>
  </div>
  <div class="story__media-image window">
    <div class="story__desc">
      <div class="story__date tm-inline">
        <div class="o-h">No&nbsp;stadium</div>
      </div>
      <div class="story__text grey">The small amount of money available in the favelas and put in the infrastructure forces people to play where they can and even if the soccer fields are smaller, the children have adapted by taking advantage of whatever available spaces that they can and develop new rules and different skills.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/infrastructures.jpg" alt="Stadium">
    </div>
  </div>
  <div class="story__media-video window o-h vp-saopaulofootball"></div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <div class="story__title tm-inline">
        <div class="o-h">Street</div>
        <div class="o-h">football</div>
      </div>
      <div class="story__text">In Brazil football is the number one sport, more than 12 000 clubs and 30 million people live their passion for football. In particular, Sao Paulo, Brazil's biggest city, is the beating heart of "O Jogo Bonito" (the beautiful game, the nation's most popular sport.) There is in Brazil a little known football, a football that is played on sand or clay courts and evolves light years away from the Seleção and its stars: the favelas one.</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/street_football.jpg" alt="Stree football">
    </div>
  </div>
  <div class="story__media--full-image window parallaxScene">
    <!-- <img src="./assets/images/sao_paulo_football.jpg" alt="Street football"> -->
    <img class="parallaxBackground parallax--item" src="./assets/images/parallax/saoPolo/mans2.png" alt="">
    <img class="parallaxMan2 parallax--item" src="./assets/images/parallax/saoPolo/man2.png" alt="">
    <img class="parallaxMan1 parallax--item" src="./assets/images/parallax/saoPolo/man1.png" alt="">
  </div>
  <div class="story__media-image window black">
    <div class="story__aside-image tm-aside-image">
      <img src="./assets/images/way_to_escape.jpg" alt="Suburbs war">
    </div>
    <div class="story__desc">
      <h2 class="story__title tm-inline">
        <div class="o-h"><div class="text">A&nbsp;way</div></div>
        <div class="o-h"><div class="text">to&nbsp;escape</div></div>
      </h2>
      <div class="story__text">From morning to night, in the streets, parks, on the sand, football is played everywhere. São Paulo to itself, the megalopolis of 20 million inhabitants, account up to 3,000 amateur local clubs. It serves as an escape for many, and a chance to emulate great football idols. It is an embodiment of their dreams and goals, the hope of a better future contrasting with the hard reality of the favelas. It is the perfect place to learn the basics of life such as discipline, respect and citizenship.</div>
    </div>
  </div>
  <div class="story__media-video window o-h vp-neymar"></div>
  <div class="story__media-image window black">
    <div class="story__desc">
      <div class="story__title tm-inline">
        <div class="o-h">Neymar</div>
      </div>
      <div class="story__text">Neymar grew up in Santos, a port city close to Sao Paulo, where he first played street football and futsal and ended up signing a professional contract.  Neymar is today an icon of football in the world, but it especially become an example of success for the youth in the favelas. Neymar opened his instute, called “Institut Projeto Neymar Jr”, in order to promote the social integration of the most disadvantaged by offering extra-curricular activities.</div>
      <div class="story__button blue-button left">See more</div>
    </div>
    <div class="story__aside-image tm-aside-image right">
      <img src="./assets/images/street_football.jpg" alt="Stree football">
    </div>
  </div>
  <div class="story__outro window black">
    <div>
      <div class="story__outro--title">Culture in others suburbs</div>
      <div class="story__outro--themes">
        <div>
          <a href="/paris-seine" data-url="paris-seine" class="story__outro--theme route-link">Rap music in Paris</a>
        </div>
        <div>
          <a href="/de-rocinha" data-url="de-rocinha" class="story__outro--theme route-link">Street art in Rio</a>
          </div>
      </div>
    </div>
  </div>
</div>