<div class="soweto story art">
    <div class="story__land window">
      <div class="story__doc-title">Street Connection</div>
      <div class="story__thumbnail">
        <img src="./assets/images/johannesburg_top.jpeg" alt="Miami">
        <div class="hidder"></div>
      </div>
    </div>
    <div class="story__intro window">
      <h1 class="story__home-title">
        <div class="o-h"><div class="text">Sow</div></div>
        <div class="o-h"><div class="text">eto</div></div>
      </h1>
      <div class="o-h">
        <p class="story__home-desc">Soweto is a township in the west of Johannesburg. Its name come from the contraction of South West Township.  Formerly a separate city, it is now considered as a suburb of Joburg. Soweto's population is overwhelmingly black. All eleven of the country's official languages are spoken, and the main linguistic groups are Zulu, Sotho, Tswana.</p>
      </div>
    </div>
    <div class="story__media-image window">
      <div class="story__desc">
        <div class="story__date tm-inline">
          <div class="o-h">1976</div>
        </div>
        <div class="story__text grey">Soweto came to the world's attention on 16 June 1976 with the Soweto Uprising, when mass protests erupted over the government's policy to enforce education in Afrikaans rather than their native language. The impact of the Soweto protests reverberated through the country and across the world. In their aftermath, economic and cultural sanctions were introduced from abroad. Political activists left the country to train for guerrilla resistance.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/1976.jpg" alt="1976">
      </div>
    </div>
    <div class="story__media-image window black">
      <div class="story__desc">
        <div class="story__title tm-inline">
          <div class="o-h">Life in</div>
          <div class="o-h">soweto</div>
        </div>
        <div class="story__text">The township, a segretated part of the society in definition, with houses made from scratches is simply a nest for treasures at the turn of each streets. Dancers, Musicians, Graffitis and street art, kids playing football and rugby conquered the streets of this motley district made of sheet metal. Thoses improved houses in an improved city led to tight streets and numerous options to practice every passion, football, rugby, dance.</div>
      </div>
      <div class="story__aside-image tm-aside-image right">
        <img src="./assets/images/life_in_soweto.jpg" alt="Life in soweto">
      </div>
    </div>
    <div class="story__media--full-image window">
      <img src="./assets/images/soweto_middle.jpeg" alt="Dancer">
    </div>
    <div class="story__media-image window black">
      <div class="story__aside-image tm-aside-image">
        <img src="./assets/images/dancing_in_street.jpg" alt="Dancing in the streets">
      </div>
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Dancing in</div></div>
          <div class="o-h"><div class="text">the streets</div></div>
        </h2>
        <div class="story__text">Especially one : the street dancers, like Skeleton Pantsula Crew. Their routine is a hybrid of contortion, magic tricks and pantsula, a style of dancing that developed in South African townships in the ‘70s and has since become part of the national culture. The beauty in pantsula is : many forms of it exists and it’s to the dancer liking to add his own personal move to make it unique.</div>
      </div>
    </div>
    <div class="story__media-video window o-h vp-soweto1"></div>
    <div class="story__media-image window black">
      <div class="story__aside-image tm-aside-image">
        <img src="./assets/images/foot.jpg" alt="Springbok">
      </div>
      <div class="story__desc">
        <h2 class="story__title tm-inline">
          <div class="o-h"><div class="text">Spririt of a</div></div>
          <div class="o-h"><div class="text">springbok</div></div>
        </h2>
        <div class="story__text">Brought to Cape town in first place by sailors, merchant and others mens coming from Britain, Rugby quickly took the place of, not only a national sport in South Africa. Widely dominated by the Afrikaners as a “revenge” over the British people for not giving enough slack to the dutch descendants in the political decisions in South Africa, in its first years of existence, rugby was predominantly played by whites.  Until the 24th of june, 1995 where black and white people reunited under the “boks” jersey to become the “Rainbow Nation” as Mandela named it.</div>
      </div>
    </div>
    <div class="story__outro window black">
      <div>
        <div class="story__outro--title">Culture in others suburbs</div>
        <div class="story__outro--themes">
          <div>
            <a href="/de-rocinha-music" data-url="de-rocinha-music" class="story__outro--theme route-link">Music in Rio</a>
          </div>
          <div>
            <a href="/miami" data-url="miami" class="story__outro--theme route-link">Street art in Wynwood</a>
            </div>
        </div>
      </div>
    </div>
  </div>