@font-face {
  font-family: 'Averta';
  src: url('../fonts/AvertaRegular.otf');
}

@font-face {
  font-family: 'Averta';
  font-weight: bold;
  src: url('../fonts/AvertaBold.otf');
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DINCondBold.otf');
}