<div class="map">
  <aside class="infos">
    <div class="infos__title">Compton, Cali (LAX)</div>
    <ul class="infos__themes">
      <li class="infos__theme">Rap Music</li>
      <li class="infos__theme selected">Street Art</li>
    </ul>
    <div class="infos__text">The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.</div>
    <a href="/" data-url="" title="Discover" class="infos__button blue-button route-link">Discover</a>
  </aside>
</div>