.cover
  height 100vh
  padding-top 25vh
  background-color rgba(0, 0, 0, .5)
  color $white

  &__title
    font-family 'DIN'
    font-size 120px
    text-align center
    text-transform uppercase

  &__button
    margin-top 170px

  &__image
    height 100vh
    width 100vw
    position fixed
    top 0
    left 0
    z-index -10

    img
      height 100%
      width 100%
      object-fit cover