.earphones
  height 100vh
  padding-top 15vh
  background-color $black
  color $white

  &__title
    font-family 'DIN'
    font-size 8em
    text-align center
    text-transform uppercase

  &__text
    width 600px
    margin 7em auto 0 auto
    font-family 'Averta'
    font-size 2.5em
    text-align center
    line-height 3em

  &__icon
    margin-top 7em
    text-align center
    height 7em

    img
      height 100%

  &__button
    margin-top 12em